version: 1
disable_existing_loggers: false
formatters:
  standard:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: standard
    level: DEBUG
    stream: ext://sys.stdout
loggers:
  root:
    handlers: [console]
    level: INFO
    propagate: false
  uvicorn:
    handlers: [console]
    level: INFO
    propagate: false
  service.service:
    handlers: [console]
    level: DEBUG
    propagate: false
  service.qiwei.qiwei_bot:
    handlers: [console]
    level: DEBUG
    propagate: false