# Set a default model
DEFAULT_MODEL=
COMPATIBLE_API_KEY=
COMPATIBLE_BASE_URL=

DEFAULT_AGENT="chatbot"

# Web server configuration
HOST=0.0.0.0
PORT=8080

# Authentication secret, HTTP bearer token header is required if set
AUTH_SECRET=

# Application mode. If the value is "dev", it will enable uvicorn reload
MODE=

# Database type.
# If the value is "postgres", then it will require Postgresql related environment variables.
# If the value is "sqlite", then you can configure optional file path via SQLITE_DB_PATH
DATABASE_TYPE=

# If DATABASE_TYPE=sqlite (Optional)
SQLITE_DB_PATH=

# If DATABASE_TYPE=postgres
# Docker Compose default values (will work with docker-compose setup)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

# you will be able to identify AST connections in Postgres Connection Manager under this Application Name
# POSTGRES_APPLICATION_NAME = "agent-service-toolkit"
# set these values to customize the number of connections in the pool. Saver and store have independent connection pools
# POSTGRES_MIN_CONNECTIONS_PER_POOL=1
# POSTGRES_MAX_CONNECTIONS_PER_POOL= 3

# Agent URL: used in Streamlit app - if not set, defaults to http://{HOST}:{PORT}
# AGENT_URL=http://localhost:8080

# LANGFUSE Configuration
#LANGFUSE_TRACING=true
#LANGFUSE_PUBLIC_KEY=pk-...
#LANGFUSE_SECRET_KEY=sk-lf-....
#LANGFUSE_HOST=http://localhost:3000

# OceanBase Configuration
OCEANBASE_ENABLED=
OCEANBASE_HOST=
OCEANBASE_PORT=
OCEANBASE_USER=
OCEANBASE_PASSWORD=
OCEANBASE_DB=

# Add for qiwei
QIWEI_TOKEN=
QIWEI_ENCODING_AES_KEY=
QIWEI_CORP_ID=

UVICORN_WORKERS=

QIWEI_WELCOME_TEMPALTE = '{"msgtype":"template_card","template_card":{"card_type":"multiple_interaction","source":{"icon_url":"https://wework.qpic.cn/wwpic/252813_jOfDHtcISzuodLa_1629280209/0","desc":"企业微信"},"main_title":{"title":"欢迎使用企业微信","desc":"您的好友正在邀请您加入企业微信"},"select_list":[{"question_key":"question_key_one","title":"选择标签1","disable":false,"selected_id":"id_one","option_list":[{"id":"id_one","text":"选择器选项1"},{"id":"id_two","text":"选择器选项2"}]},{"question_key":"question_key_two","title":"选择标签2","selected_id":"id_three","option_list":[{"id":"id_three","text":"选择器选项3"},{"id":"id_four","text":"选择器选项4"}]}],"submit_button":{"text":"提交","key":"submit_key"},"task_id":"task_id"}}'

WEB_URL=

RAG_URL=
RAG_API_KEYS=


# History Manager Configuration
HISTORY_MAX_TOKENS=
HISTORY_SUMMARY_MODEL=

SQL_PERMISSION_TABLE_FIELDS='{"project_data": ["created_by", "assigned_to"], "reports": ["author", "reviewer"]}'

# AMCELL服务地址
AMCELL_ADDR=
# 资管战略客户AI画像服务地址
PROFILE_ADDR=
PROFILE_API_URL=
PROFILE_USER_CODE=
PROFILE_PASSWORD=
PROFILE_TOKEN_TTL=

QIWEI_PUSH_API_URL=
QIWEI_PUSH_API_LOGIN_USERCODE=
QIWEI_PUSH_API_LOGIN_PASSWORD=
QIWEI_PUSH_API_SENDTEXT_AGENTID=
